<script type="text/javascript">
    var menu=3;
    function request(paras){
    　　var url = location.href;
    　　var paraString = url.substring(url.indexOf("?")+1,url.length).split("&");
    　　var paraObj = {}
    　　for (i=0;j=paraString[i];i++){
        　　paraObj[j.substring(0,j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=")+1,j.length);
    　　}
    　　var returnValue = paraObj[paras.toLowerCase()];
    　　if(typeof(returnValue)=="undefined"){
        　　return "";
    　　}else{
        　　return returnValue;
    　　}
　　}
　　var typeid = request("type");
　　var id = request("id");
</script>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七宝商品</title>
    <meta name="keywords" content="七宝珠宝旗舰店">
    <meta name="description" content="七宝珠宝旗舰店">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="16x16" mask="" href="system/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="system/css/jquery.mobile.css">
    <link rel="stylesheet" type="text/css" href="system/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="system/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="skin/001.css">
    <script type="text/javascript" src="system/js/jquery.min.js"></script>
    <script type="text/javascript" src="system/js/angular.min.js"></script>
    <script type="text/javascript" src="system/js/swiper.min.js"></script>
    <script type="text/javascript" src="system/js/jquery.mobile.min.js"></script>
    <script type="text/javascript" src="system/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="system/js/html5.js"></script>
      <script src="system/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app>
    <!-- 设计师详情页 -->
    <div data-role="page" ng-controller="drType">
        <script type="text/javascript">            
            function drType($scope) {
                $scope.drtypes = [{
                    "name": "项链设计师"
                },{
                    "name": "雕件摆件设计师"
                },{
                    "name": "珠宝设计师"
                },{
                    'name': "钻石设计师"
                }];
            }
        </script>
        <div id="header" data-role="header" data-position="fixed" data-fullscreen="false">
            <h1 class="text-left"><span ng-repeat="drtype in drtypes">{{drtype.name}}</span></h1>
            <a href="javascript:;" class="sys sys_return ui-btn-left" data-rel="back"></a>
            <a href="javascript:;" class="sys sys_share ui-btn-right" id="share-btn"></a>
        </div>
        <div data-role="main" class="ui-content">
            <script type="text/javascript">
                function DesignerInfo($scope) {
                    $scope.dgerinfo = {
                        "id": 1,
                        "name": "Designer",
                        "img": "temp/activity (5).jpg",
                        "eye": 9139,
                        "zan": 12309,
                        "experience": "自我介绍时的表达方法便有所不同自我介绍时的表达方法便有所不同",
                        "dec": "自我介绍时的表达方法便有所不同.自我介绍时的表达方法便有所不同.自我介绍时的表达方法便有所不同.自我介绍时的表达方法便有所不同."
                    };
                };
            </script>
            <div id="desgininfo" ng-controller="DesignerInfo">
                <img src="{{dgerinfo.img}}" alt="" id="header-img">
                <div class="info">
                    <name>{{dgerinfo.name}}</name>
                    <p><span><i class="sys sys_zan min white"></i> {{dgerinfo.zan}}</span>
                    <span><i class="sys sys_eye min white"></i> {{dgerinfo.eye}}</span></p>
                </div>
                <script type="text/javascript">
                    function fnavs($scope) {
                        $scope.footnavs = [{
                            "name": "关注",
                            "faclass": "sys_follow2",
                            "src": ""
                        },{
                            "name": "语言介绍",
                            "faclass": "sys_voice",
                            "src": ""
                        },{
                            "name": "对话",
                            "faclass": "sys_dialogue",
                            "src": "dialogue.html"
                        }];
                    };
                </script>
                <ul ng-controller="fnavs" id="infoNav">
                    <li ng-repeat="fnav in footnavs">
                        <a data-transition="slideup" data-ajax="false" href="{{fnav.src}}?id={{dgerinfo.id}}">
                            <i class="sys small {{fnav.faclass}}"></i>
                            <span class="sys_title">{{fnav.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
                function DesignItem($scope) {
                    $scope.dgeritems = [{
                        "id": 0,
                        "title": "享锐--白18K金钻石戒指",
                        "zan": 3190,
                        "eye": 8139,
                        "img": "temp/prod (1).jpg"
                    },{
                        "id": 1,
                        "title": "享锐--白18K金钻石戒指",
                        "zan": 390,
                        "eye": 2239,
                        "img": "temp/prod (4).jpg"
                    },{
                        "id": 2,
                        "title": "享锐--白18K金钻石戒指",
                        "zan": 2490,
                        "eye": 4639,
                        "img": "temp/prod (3).jpg"
                    },{
                        "id": 3,
                        "title": "享锐--白36K金钻石戒指",
                        "zan": 3230,
                        "eye": 7639,
                        "img": "temp/prod (2).jpg"
                    }];
                };
            </script>
            <ul class="nav nav-tabs" role="tablist" id="designerinfoNav">
                <li role="presentation" class="active"><a href="#item-tab" aria-controls="item-tab" role="tab" data-toggle="tab">设计作品</a></li>
                <li role="presentation"><a href="#introduction-tab" aria-controls="introduction-tab" role="tab" data-toggle="tab">个人介绍</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="item-tab">
                    <section class="screen" ng-controller="DesignItem">
                        <div class="row">
                            <div class="col-xs-6" ng-repeat="ditem in dgeritems">
                                <a data-ajax="false" href="product.html?id={{ditem.id}}">
                                <img src="{{ditem.img}}" class="img-responsive" alt="">
                                <div class="introduce white">
                                    <p>{{ditem.title}}</p>
                                    <p><span><i class="sys sys_zan min"></i> {{ditem.zan}}</span>
                                        <span><i class="sys sys_eye min"></i> {{ditem.eye}}</span></p>
                                </div>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
                <div role="tabpanel" class="tab-pane designerinfobg" id="introduction-tab" ng-controller="DesignerInfo">
                    <section class="black">
                        <img src="{{dgerinfo.img}}" alt="" class="img-responsive">
                    </section>
                    <section class="black">
                        <p class="info-tit">设计经历 <i class="subject">designexper</i></p>
                        <p>{{dgerinfo.experience}}</p>
                    </section>
                    <section class="black">
                        <p class="info-tit">个人介绍 <i class="subject">personal</i></p>
                        <p>{{dgerinfo.dec}}</p>
                    </section>
                </div>
            </div>
        </div>
        <div id="share"></div>
        <div id="footer" data-role="footer" data-position="fixed" data-fullscreen="false"></div>
    </div>
<script type="text/javascript">
    var foothtml=$.ajax({ type:"GET", url:"system/footer.html", async:false }); $("#footer").html(foothtml.responseText); //ajax{加载底部页面}
    var sharehtml=$.ajax({ type:"GET", url:"system/share.html", async:false }); $("#share").html(sharehtml.responseText); //ajax{加载分享页面}
    $( function () {
        $("#header h1 span").eq(typeid).addClass('show').siblings().addClass('hide');
        $("#footer li").eq(menu).addClass('active');
        $('.carousel').carousel({ interval: 3000 });
    });
</script>
</body>
</html>